body {
  font-family: "Arial", "Verdana", sans-serif;
}

.container {
  border-radius: 25;
  margin-left: 100;
  margin-right: 100;
  margin-bottom: 100;
  background-color: #9D8E6C;
}

.profile {
  text-align: center;
  background-color: #9D8E6C;
  padding: 150;
}

.heading {
  text-align: center;
  background-color: #D2B48C;
}

proex {
  text-color: 0E1C25;
  margin: 100;
  padding: 250px;
}
