body {
  font-family: "Arial", "Verdana", sans-serif;
}

.container {
  margin-left: 100px;
  margin-right: 100px;
}

.profile {
  order: 1px solid #B5A98F;
  border-radius: 25px;
  text-align: center;
  background-color: #B5A98F;
  margin-top: 25px;
  padding-right: 400px;
  padding-left: 400px;
  padding-bottom: 5px;
  padding-top: 5px;
}

.heading {
  order: 1px solid #D2B48C;
  border-radius: 25px;
  text-align: center;
  background-color: #D2B48C;
  padding-top: 15px;
  padding-bottom: 15px;
}

.proex {
  order: 1px solid #B5A98F;
  border-radius: 25px;
  background-color: #B5A98F;
  color: #0E1C25;
  margin-top: 25px;
  padding-left: 150px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.proex h3 {
  color: #000000;
}

.proex h4 {
  color: #C0C0C0;
}

.persk {
  order: 1px solid #B5A98F;
  border-radius: 25px;
  background-color: #B5A98F;
  color: #0E1C25;
  margin-top: 25px;
  padding-left: 150px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.persk h3 {
  color: #000000;
}

.persk h4 {
  color: #C0C0C0;
}
