body {
  font-family: "Arial", "Verdana", sans-serif;
}

.container {
  margin-left: 100px;
  margin-right: 100px;
}

.profile {
  order: 1px solid #9D8E6C;
  border-radius: 25px;
  text-align: center;
  background-color: #9D8E6C;
  padding-left: 150px;
  padding-right: 150px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.heading {
  order: 1px solid #D2B8C;
  border-radius: 25px;
  text-align: center;
  background-color: #D2B48C;
  padding-top: 15px;
  padding-bottom: 15px;
}

.proex {
  order: 1px solid #9D8E6C;
  border-radius: 25px;
  background-color: #9D8E6C;
  color: #0E1C25;
  margin-top: 25px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.persk {
  order: 1px solid #9D8E6C;
  border-radius: 25px;
  background-color: #9D8E6C;
  color: #0E1C25;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}
